@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  line-height: 1.6;
  font-family: cursive;
}

#wrapper {
  width: 100%;
}

#header {
  background-image: linear-gradient(150deg, #55072b, #3c00bd);
  width: 100%;
  padding: 0px 30px;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  position: sticky;
  bottom: 0;
  top: 0;
  color: rgb(185, 166, 166);
}

.container {
  max-width: 100%;
}

.title_modules {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 0;
  text-align: left;
  float: left;
  width: 100%;
}
.title_modules .mini {
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  margin-top: 5px;
  color: #6e7874;
  display: block;
  width: 100%;
  float: left;
  margin: 5px auto 0;
}

.item-1 {
  width: 100%;
  padding: 20px 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.item_1 {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  font-size: 16px;
  color: #acb2b0;
  font-family: "Arial";
  cursor: pointer;
}
.item_1 img {
  width: 100px;
  height: 100px;
}

.item_1:hover {
  color: #004697;
}

.item_2 {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  font-size: 16px;
  color: #acb2b0;
  font-family: "Arial";
  cursor: pointer;
}
.item_2 img {
  width: 100px;
  height: 100px;
}

.item_2:hover {
  color: #004697;
}

.wrap {
  display: inline-block;
}
.wrap .search {
  width: 100%;
  position: relative;
  display: flex;
}
.wrap .searchTerm {
  width: 500px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.wrap .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#menu {
  list-style: none;
  display: flex;
}
#menu .item {
  margin: 0px 25px;
}
#menu .item a {
  color: rgb(185, 166, 166);
  text-decoration: none;
}

#actions {
  display: flex;
  padding-right: 20px;
}
#actions .item {
  margin-left: 22px;
  margin-right: 22px;
}
#actions .item .admin {
  color: #E8BC0E;
}
#actions .item a {
  text-decoration: none;
  color: rgb(244, 127, 11);
  text-align: center;
  padding-left: 17px;
}
#actions .shopping {
  position: relative;
  text-align: right;
}
#actions img {
  width: 30px;
  color: white;
}
#actions span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -10px;
  left: 80%;
  padding: 3px 11px;
}

.banner img {
  height: 450px;
  width: 100%;
}

.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: white;
  height: 100vh;
  transition: 0.5s;
  border-color: #004697;
}
.card h1 {
  color: #004697;
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 15px;
}
.card .cardul ul {
  list-style: none;
  display: flex;
}
.card .cardul li {
  color: #004697;
  padding-right: 30px;
  padding-left: 20px;
}
.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.card .checkOut div {
  background-color: #4b7db7;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:nth-child(2) {
  background-color: #1C1F25;
  color: #fff;
}
.card .listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
  margin: 15px 0 15px 0;
}
.card .listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding-left: 15px;
  cursor: pointer;
}
.card .listCard li img {
  width: 80%;
}
.card .listCard li button {
  border: none;
  color: #004697;
}
.card .listCard li .count {
  margin: 0 10px;
}
.card .listCard li .con1 {
  margin-left: 12px;
  color: red;
  cursor: pointer;
}
.card .listCard li .hr {
  size: 1px;
}

.active .card {
  left: calc(100% - 500px);
}
.active .card {
  left: calc(100% - 500px);
}

.listPD {
  background-color: a8c7e9;
  border-radius: 30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  margin: 20px 20px 20px 20px;
}
.list .product-item {
  background-color: white;
  padding: 10px;
  box-shadow: 0 30px 30px #757676;
  letter-spacing: 1px;
  margin: 50px;
  border-radius: 15px;
}
.list .product-item img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease;
  opacity: 1;
}
.list .product-item .blackCamera {
  font-size: 10px;
}
.list .product-item .desc {
  font-size: 12px;
  margin: 15px 0 15px 0;
}
.list .product-item .screen {
  font-size: 10px;
}
.list .product-item .frontCamera {
  font-size: 10px;
}
.list .product-item .id {
  display: none;
}
.list .product-item .title {
  font-weight: 600;
  text-align: center;
}
.list .product-item .price {
  margin-top: 30px;
}
.list .product-item button {
  background-color: #1C1F25;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.list .product-item:hover {
  background: #c0e4e9;
}
.list .product-item:hover .addCard {
  display: block;
  background-color: #004697;
  color: white;
}

#movetop {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #004697;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer .small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #004697;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li .title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a .facebook:hover {
  background-color: #004697;
}
.social-icons a .twitter:hover {
  background-color: #004697;
}
.social-icons a .linkedin:hover {
  background-color: #004697;
}
.social-icons a .dribbble:hover {
  background-color: #ea4c89;
}
.social-icons size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #004697;
}/*# sourceMappingURL=main.css.map */